version: '3.8'

services:
  gitlab:
    image: gitlab/gitlab-ce:17.8.1-ce.0
    container_name: gitlab
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "2222:22"
    volumes:
      #- config:/etc/gitlab
      #- logs:/var/log/gitlab
      #- data:/var/opt/gitlab
      - ./gitlab.rb:/etc/gitlab/gitlab.rb:ro
    networks:
      public: {}
      backend:
        ipv4_address: 172.16.0.2
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost/-/health >/dev/null || exit 1"]
      interval: 10s
      timeout: 30s
      retries: 40
      start_period: 90s

  ansible:
    image: quay.io/ansible/ansible-runner:latest
    container_name: ansible
    working_dir: /work
    volumes:
      - ./seedGitlab/:/work:rw            # your playbooks live here
      - ${DOCKER_SOCK:-/var/run/docker.sock}:/var/run/docker.sock
    environment:
      # useful defaults for your GitLab seeding playbook
      GITLAB_URL: http://172.16.0.2:80
      DOCKER_HOST: ${DOCKER_HOST:-}
    # keep it running so you can exec into it, or override with `docker compose run`
    command: >
      ansible-playbook seed.yml
    # change command to what is needed
    networks:
      public: {}
      backend:
        ipv4_address: 172.16.0.3
    depends_on:
      gitlab:
        condition: service_healthy

#volumes:
#  config:
#  logs:
#  data:

networks:
  public:
    driver: bridge
  backend:
    ipam:
      config:
        - subnet: 172.16.0.0/29