version: '3.8'

services:
  gitlab:
    image: gitlab/gitlab-ce:17.8.1-ce.0
    container_name: gitlab
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "2222:22"
    volumes:
      - config:/etc/gitlab
      - logs:/var/log/gitlab
      - data:/var/opt/gitlab

  ansible:
    image: quay.io/ansible/ansible-runner:latest
    container_name: ansible
    working_dir: /work
    volumes:
      - ./seedGitlab/:/work:rw            # your playbooks live here
    environment:
      # useful defaults for your GitLab seeding playbook
      GITLAB_URL: http://localhost:80
    # keep it running so you can exec into it, or override with `docker compose run`
    command: >
      ansible-playbook -i inventory.ini seed.yml
    # change command to what is needed

volumes:
  config:
  logs:
  data:
