services:
  gitlab:
    image: gitlab/gitlab-ce:18.5.1-ce.0
    container_name: gitlab
    restart: always
    ports:
      - "80:80"
      - "2222:22"
    #volumes:
    #- config:/etc/gitlab
    #- logs:/var/log/gitlab
    #- data:/var/opt/gitlab
    environment:
      GITLAB_ROOT_PASSWORD: "2ada54772a7b!"
      GITLAB_OMNIBUS_CONFIG: |
        letsencrypt['enable'] = false
        gitlab_rails['initial_root_password_expiration'] = false
        gitlab_rails['allow_runner_registration_token'] = true

        nginx['listen_port']  = 80
        nginx['listen_https'] = false
        external_url 'http://localhost'
    networks:
      public: {}
      backend: {}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -fsS http://localhost/-/readiness >/dev/null || exit 1",
        ]
      interval: 10s
      timeout: 30s
      retries: 40
      start_period: 90s

  gitlab-runner:
    image: gitlab/gitlab-runner:alpine3.19
    container_name: gitlab-runner
    restart: always
    depends_on:
      ansible:
        condition: service_completed_successfully

    # env_file:
    #   - ./runner.env

    volumes:
      # Volume f端r config.toml beibehalten
      - runner-config:/etc/gitlab-runner
      # Mounten Sie den seedGitlab Ordner in den Runner-Container
      - ./seedGitlab:/seedGitlab
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      backend: {}

    # NEU: Entfernen Sie den entrypoint: und verwenden Sie nur command:
    # F端hren Sie das Skript direkt aus.
    entrypoint: /seedGitlab/runner_init.sh

  ansible:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        COLL_VER: "3.10.0" # Dieses Argument wird an dein Dockerfile 端bergeben
    container_name: ansible
    working_dir: /work
    volumes:
      - ./:/project:rw
      - ./seedGitlab/:/work:rw
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      GITLAB_URL: http://gitlab

    # DIESE ZEILE ERSETZT DEIN GESAMTES ENTRYSCRIPT:
    # Es f端hrt das Playbook direkt aus, nachdem der Container
    # (mit allen Installationen aus dem Dockerfile) gestartet wurde.
    command: ["ansible-playbook", "/work/seed.yml"]

    networks:
      public: {}
      backend: {}
    depends_on:
      gitlab:
        condition: service_healthy

volumes:
  runner-config: {}
#  config:
#  logs:
#  data:

networks:
  public:
    driver: bridge
  backend:
